@model IEnumerable<CourseProject.Models.InstructionViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Список инструкций</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstructionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
        </tr>
    }

</table>